<%= form_with(model: secret, data: { controller: "secret--encryptor" }) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation" class="">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= form.text_area :message,
      size: "10x10",
      required: true,
      class: "form-control mb-3",
      data: { "secret--encryptor-target": "message" } %>
  </div>

  <div class="inline">
    <%= form.submit "Create a secret link", class: "btn btn-danger btn-md", data: { action: "click->secret--encryptor#encrypt" } %>
  </div>
<% end %>
