<%= form_with(model: secret, data: { controller: "secret--encryptor" }) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation" class="">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.text_area :message,
      rows: "15x50",
      required: true,
      class: "",
      data: { "secret--encryptor-target": "message" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "", data: { action: "click->secret--encryptor#encrypt" } %>
  </div>
<% end %>
