<header class="py-3">
  <div class="" data-controller="clipboard secret--link-builder" data-secret--link-builder-token-value=<%= @secret.token %>>
    <div class="container px-lg-5">
      <div class="p-4 p-lg-4 bg-light rounded-3 text-center" data-controller="visibility">
        <div class="alert alert-success" role="alert">
          <%= image_tag("logo.png", size: "32") %>
            End To End Encrypted Secret link has been created.
          <%= image_tag("logo.png", size: "32") %>
        </div>

        <div class="alert alert-danger" role="alert" hidden data-visibility-target="hideable">
          Secret Link has been copied.
        </div>

        <h1 class="display-6 fw-bold">Share this secret link:</h1>
        <p class="fs-4">This link will be visible once</p>
        <%= text_area_tag 'link', nil,
          class: 'form-control mb-3',
          rows: 7,
          readonly: true,
          data: { "secret--link-builder-target": "link", "clipboard-target": "source" } %>

          <%= button_tag "Copy Secret Link", data: { action: "clipboard#copy visibility#showTargets", disable_with: "Please wait..." }, class: "btn btn-warning btm-sm" %>
          <%= link_to "New Secret", "/", class: "btn btn-danger btm-sm"  %>
      </div>
    </div>
  </div>
</header>
