<!DOCTYPE html>
<html>
  <head>
    <title>One Time Secret Sharing | End To End Encrypted | Private and Secure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="">
      <div class="">
        <div class="">
          <div class="">
            <h1 class="">One Time Secret Share</h1>
            <h3 class="">End To End Encrypted Self Destructing Link</h3>

            <p class="">
              Create Single-Use Links for Safely Sharing Confidential Data
            </p>

            <p class="">
              Prevent Sensitive Data from Being Stored in Your Email and Chat Histories
            </p>

            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
